body {
    margin: 0;
    font-family: poppins;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > h1 {
    margin-bottom: 0;
}

button {
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 3px;
    background-color: tomato;
    color: ivory;
    font-family: poppins;
}

input {
    height: 45px;
    border: 1px solid red;
    border-radius: 3px;
}

#game-board {
    background-color: lightgreen;
    height: 75vh;
    width: 75vh;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
    margin: 25px 0;
}

.snake-odd {
    background-color: ivory;
    border: .25vmin solid black;
}

.snake-even {
    background-color: tomato;
    border: .25vmin solid black;
}

.food {
    background-color: gold;
    border: .25vmin solid black;
}

#touch-controls {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#touch-controls > div {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

#game-over {
    display: none;
    height: 100vh;
    width: 100vw;
    color: ivory;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    #game-board {
        height: 75vw;
        width: 75vw;
    }

    #touch-controls {
        display: flex;
    }
}